@model BatBreaker2.Models.StatModels.BatterStats
<fieldset>
    <legend>Batting Stats</legend>
    <table>
        <tr>
            <td>
                Avg
            </td>
            <td>
                @String.Format("{0:.000}", Model.Avg)
            </td>
        </tr>
        <tr>
            <td>
                OBP
            </td>
            <td>
                @String.Format("{0:#.000}", Model.OBP)
            </td>
        </tr>
        <tr>
            <td>
                SLG
            </td>
            <td>
                @String.Format("{0:#.000}", Model.SLG)
            </td>
        </tr>
        <tr>
            <td>
                OPS
            </td>
            <td>
                @String.Format("{0:#.000}", Model.OPS)
            </td>
        </tr>
        <tr>
            <td>
                ABs
            </td>
            <td>
                @Model.ABs
            </td>
        </tr>
        <tr>
            <td>
                Hits
            </td>
            <td>
                @Model.Hits
            </td>
        </tr>
        <tr>
            <td>
                Singles
            </td>
            <td>
                @Model.Singles
            </td>
        </tr>
        <tr>
            <td>
                Doubles
            </td>
            <td>
                @Model.Doubles
            </td>
        </tr>
        <tr>
            <td>
                Triples
            </td>
            <td>
                @Model.Triples
            </td>
        </tr>
        <tr>
            <td>
                HR
            </td>
            <td>
                @Model.HR
            </td>
        </tr>
        <tr>
            <td>
                RBI
            </td>
            <td>
                @Model.RBI
            </td>
        </tr>
        <tr>
            <td>
                R
            </td>
            <td>
                @Model.R
            </td>
        </tr>
        <tr>
            <td>
                K
            </td>
            <td>
                @Model.K
            </td>
        </tr>
        <tr>
            <td>
                BB
            </td>
            <td>
                @Model.BB
            </td>
        </tr>
        <tr>
            <td>
                TB
            </td>
            <td>
                @Model.TB
            </td>
        </tr>
    </table>
</fieldset>
